# Sensible Daten
.env
*.env
auth_token.json

# Python Umgebung & Cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDE spezifische Dateien
.vscode/
.idea/

# OS spezifische Dateien
.DS_Store
Thumbs.db

#Log & State files
sync.log
sync_state.json